<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307168668318-o9osa31r4keamd7cgp7kir71tenf5r3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307168668318-o9osa31r4keamd7cgp7kir71tenf5r3u</string>
	<key>API_KEY</key>
	<string>AIzaSyAlC3YNx9JvrqzLcbKnkxPlz7Rl5uM0kTs</string>
	<key>GCM_SENDER_ID</key>
	<string>307168668318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.hunt.john.EC500.HW3</string>
	<key>PROJECT_ID</key>
	<string>ec500-camera-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ec500-camera-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307168668318:ios:3219cc79380b577050298f</string>
</dict>
</plist>